<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>AddEntry</servlet-name>
        <servlet-class>cat.udl.eps.softarch.webglossary.servlets.AddEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseGlossary</servlet-name>
        <servlet-class>cat.udl.eps.softarch.webglossary.servlets.BrowseGlossaryServlet</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>SearchGlossary</servlet-name>
        <servlet-class>cat.udl.eps.softarch.webglossary.servlets.SearchGlossaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEntry</servlet-name>
        <servlet-class>cat.udl.eps.softarch.webglossary.servlets.UpdateEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowEditEntryForm</servlet-name>
        <servlet-class>cat.udl.eps.softarch.webglossary.servlets.ShowEditEntryFormServlet</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>AddEntry</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseGlossary</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>SearchGlossary</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEntry</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowEditEntryForm</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>-->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
